<html>
    <head>
        <title> Error </title>
    </head>
    <body>
        <p>There was something wrong with your input. You included <%= errorSymbol %>. Try again. Example for input - "tech,health" in lower-case without any spaces and please do not use any other symbols other than ","</p>
        <form action="/mainMenu" method="GET">
            <button>Try Again</button>
        </form>
    </body>
</html>