<html >
    <head>
        <title>Single-Tag API Link Filter</title>
    </head>
    <body>
        <h>Enter your tag below separated with "," and no spaces in between</h>
        <form action="/" method="POST">
            <input type="text" name="userTag">
            <button type="submit" name="tagButton">Submit tag(s)</button>
        </form>
        <form action="/all" method="GET">
            <button>Show All</button>
        </form>
    </body>
</html>